 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     outline: none;
 }

 ::-webkit-scrollbar {
     width: 0;
 }

 body {
     direction: rtl;
     scroll-behavior: smooth;
 }

 ul,
 li {
     list-style: none;
 }

 .container {
     max-width: 140%;
     width: 80%;
     margin: 0 auto;
     position: relative;
 }

 section {
     padding: 20px 0;
 }

 section h3 {
     font-size: 30px;
     text-align: center;
     color: #43a047;
     margin-bottom: 50px;
     position: relative;
 }

 section h3::after,
 section h3::before {
     content: "";
     position: absolute;
     background-color: #43a047;
     height: 2px;
     left: 50%;
     transform: translate(-50%);
 }

 section h3::after {
     width: 50px;
     bottom: -10px;
 }

 section h3::before {
     width: 100px;
     bottom: -5px;
 }

 .header {
     position: fixed;
     top: 0px;
     left: 0;
     right: 0;
     z-index: 1;
     transition: .5s all ease-in-out;
     background-color: rgba(0, 0, 0, 0.3);
 }

 .header .container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 20px;
     color: white;
     transition: .5s all ease-in-out;
 }

 .header.active {
     background-color: rgba(0, 0, 0, 0.6);
 }

 .header.active .container {
     height: 90px;
 }

 .header ul {
     display: flex;
 }

 .header ul li {
     position: relative;
     cursor: pointer;
     top: 8px;
     font-family: 'amiri-bold';
     
 }

 .header ul li::after {
     content: "";
     position: absolute;
     bottom: -20px;
     left: 0;
     background-color: #870909;
     height: 3px;
     transition: .5s all ease-in-out;
     width: 0;
 }

 .header li:active ::after,
 .header li:hover ::after {
     width: 90%;
     transform: scale(0.95);
 }

 .header .bars {
     display: none;
     
 }

 .header li:not(:first-of-type),
 .header li:not(:last-of-type) {
     margin: 0 15px;
 }

 .header .logo {
    font-family: 'thuluth-decorated';
     font-size: 55px;
     cursor: pointer;
     padding-top: 20px;
 }

 /*/////////////////////////////////////////////////////////////////////////////////////////*/

 /* Main */
 .main {
     background: url(./image/مسجد-السلطان-أحمد-ليلا-اسطنبول-تركيا.jpg) center center/cover no-repeat ;
     position: relative;
}
.main .mainOverlay{
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
}
 .main .container {
     min-height: 100vh;
 }

 .main .title {
     position: absolute;
     top: 50%;
     transform: translate(-50%);
     right: -200px;
     color: #fff;
 }

 .main .title h2 {
     line-height: 1.9;
     font-size: 40px;
     margin-bottom: 30px;
 }

 .main .btn {
     border: 2px solid #fff;
     background: transparent;
     border-radius: 5px;
     font-size: 20px;
     font-weight: 400;
     color: inherit;
     display: flex;
     align-items: center;
     position: relative;
     transition: .5s all ease-in-out;
     padding: 5px 15px;
 }

 .title .btn {
     font-size: 25px;
     margin-right: 20px;
 }

 .title .btn::after {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     background-color: #fff;
     transition: .3s all ease-in-out;
     width: 0;
     height: 100%;
     z-index: -1;
 }

 .title .btn:hover {
     color: #232323;
 }

 .title .btn:hover:after {
     width: 100%;
 }

 /*/////////////////////////////////////////////////////////////////////////////////////////////////*/
 /* Hadith*/
 .hadithContainer {
     min-height: 350px;
     position: relative;
     box-shadow: 4px 4px 4px 4px #d1d9e6;
     color: #232323;
     text-align: center;
     display: flex;
     justify-content: center;
     padding: 50px 20px;
     padding-top: 70px;
     line-height: 2.5;
 }

 .hadith .buttons {
     display: flex;
     justify-content: space-between;
     margin-top: 20px;
 }

 .hadith .buttons div {
     background: linear-gradient(60deg, #66bb6a, #43a047);
     box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
         0 7px 10px -5px rgba(76, 175, 88, 0.4);
     color: #fff;
     padding: 10px 20px;
     cursor: pointer;
 }

 .hadith .buttons .number {
     padding: 10px 20px;
     color: #43a047;
     background: transparent;
     box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
         0 7px 10px -5px rgba(76, 175, 88, 0.4);

 }

 /*/////////////////////////////////////////////////////////////////////////////////////////*/
 /* Lectures */

 .lectures-container {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     align-items: flex-start;
 }

 .lectures-container .right,
 .lectures-container .left {
     width: 48%;
 }

 .lectures-container .right .lec {
     display: flex;
     align-items: center;
     margin-bottom: 20px;
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
     padding: 20px;
     transition: 0.5 all ease-in-out;
     cursor: pointer;
 }

 .lectures-container .right .lec:hover {
     transform: scale(0.95);
 }

 .lec .lec-text {
     width: calc(100% - 150px);
 }

 .lec img {
     width: 120px;
     height: 120px;
     border-radius: 50%;
     object-fit: cover;
     margin-right: auto;
 }

 .lec-text h4 {
     font-size: 14px
 }

 .lec-text p {
     font-size: 16px;
 }

 .left {
     position: sticky;
     top: 0;
 }

 .lectures-container .left iframe {
     width: 100%;
     height: 400px;
     border-radius: 6px;
 }

 /*///////////////////////////////////////////////////////////////////////////////*/
 /*Quran Section*/
 .surahsContainer {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
 }

 .surahsContainer .surah {
     min-height: 100px;
     min-width: 150px;
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
     margin-bottom: 8px;
     margin-right: 20px;
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     transition: 0.5s ease-in-out;
     color: #232323;
     font-size: 17px;
 }

 .surahsContainer .surah:hover {
     transform: scale(1.05);
 }

 /*/////////////////////////////////////////////////////////////////*/
 /*Pray Time*/
 .pray .cards {
     display: flex;

     flex-wrap: wrap;

 }

 .cards .card {
     width: 250px;
     min-height: 320px;
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
     padding: 30px 20px;
     margin: 20px auto;
 }

 .card .circle {
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .circle svg {
     width: 210px;
     height: 210px;
 }

 .circle svg circle {
     width: 100%;
     height: 100%;
     fill: none;
     stroke-width: 10;
     stroke: #43a047;
     transform: translate(5px, 5px);
     stroke-dasharray: 630px;
     stroke-dashoffset: 900px;
     animation: dash 3s linear infinite;
 }

 @keyframes dash {
     to {
         stroke-dashoffset: 0;
     }
 }

 .circle .prayTime {
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     font-size: 30px;
     color: #66bb6a;
     font-family: cursive;
 }

 .card p {
     text-align: center;
     padding-top: 15px;
     font-size: 20px;
     color: #66bb6a;
     font-weight: bold;
     font-family: cursive;
 }

 /*/////////////////////////////////////////////////////////////////*/
 /* footer*/
 .Footer {
     padding: 0;
 }

 .Footer svg {
     fill: #43a047;
     transform: translateY(10px);
 }

 .Footer .social {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #43a047;
     padding-bottom: 10px;

 }

 .Footer .social a {
     color: #fff;
     margin: 20px;
     font-size: 35px;
 }

 /*/////////////////////////////////////////////////////////////////*/
 /* Pop Up*/
 .surah-popup {
     position: fixed;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     z-index: 2;
     background-color: #fff;
     overflow-y: scroll;
     transform: translateX(100%);
 }

 .surah-popup.active {
     transform: translateX(0);
     transition: 0.7s transform ease-in-out;
 }

 .surah-popup::-webkit-scrollbar {
     width: 10px;
     background-color: #fff;
 }

 .surah-popup::-webkit-scrollbar-thumb {
     background-color: #43a047;
 }

 .close-popup {
     position: sticky;
     top: 5px;
     right: 5px;
     width: 40px;
     height: 40px;
     box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 23px;
     color: #121212;
     cursor: pointer;
 }

 .surah-popup .ayat {
     padding: 20px;
     width: 100%;
     margin-top: 20px;
     margin-right: 40px;
     text-align: center;
     color: #121212;
 }

 .surah-popup .ayat p {
     line-height: 2;
     width: 100%;
     border-bottom: 2px solid #43a047;
     margin-bottom: 10px;
 }


 /*//////////////////////////////////////////////////////////////////////////////*/
 /*Scroll Btn*/
 .scrollBtn {
     display: flex;
     position: fixed;
     bottom: 0;
     right: 20px;
     color: #fff;
     width: 50px;
     height: 50px;
     align-items: center;
     justify-content: center;
     background-color: #43a047;
     border-radius: 50px;
     font-size: 25px;
     transition: 1s bottom ease-in-out;
     bottom: -50px;
 }

 .scrollBtn.active {
     bottom: 20px;
 }

 /*////////////////////////////////////////////////////*/

 /*Responsive*/

 @media (max-width:1024px) {

     .lectures-container .right,
     .lectures-container .left {
         width: 98%;
     }

     .header .bars {
         display: block;
         padding-top: 30px;
     }

     .header ul {
         position: fixed;
         left: 0;
         top: 80px;
         width: 220px;
         background-color: rgba(0, 0, 0, 0.6);
         flex-direction: column;
         padding: 0 50px;
         text-align: center;
         transform: translateX(-100%);
         transition: 0.7 all ease-in-out;
     }
     .header ul.active{
        transform: translateX(0);
     }
     .header li:not(:first-of-type),
     .header li:not(:last-of-type) {
         margin: 15px 0;
     }
     
    .header .logo {
        padding-top: 50px;
   }

 }
 
 @media (max-width:430px) {

    .lectures-container .right,
    .lectures-container .left {
        width: 100%;
    }
    .main .title {
        right: -240px;
    }
   
    .header .logo {
         padding-top: 40px;
    }
}

@media (max-width:400px) {

    .lectures-container .right,
    .lectures-container .left {
        width: 100%;
    }
    .main .title {
        right: -180px;
    }
    .main .title h2 {
        font-size: 30px;
       
    }

}